

.s--bottom-sheet-container { width:100%; height: 100%; left: 0; top: 0; z-index: 9999;
    &:last-of-type { background: var(--overlay-color); }
    .s--bottom-sheet-sheet { height: var(--height); max-height: var(--max-height); min-height: var(--min-height); width: var(--width); max-width: var(--max-width); min-width: var(--min-width); bottom: 0; left: 0; right: 0; background:  var(--sheet-color); border-top-left-radius: var(--border-radius);  border-top-right-radius: var(--border-radius); padding: 10px; position: fixed; box-shadow:  0px 6px 30px -6px rgba(0, 0, 0, 0.15); transform: var(--translate-Y); margin: 0 auto; -webkit-animation: slide-in .4s ease; animation: slide-in .4s ease; transition: transform .35;
        &.sheet-close { -webkit-animation: slide-out .4s forwards; animation: slide-out .4s forwards; }
        &::after {position: absolute; content: ''; display: block; left: 0; right: 0; z-index: -1; top: 99%; height: 101vh; background-color: var(--sheet-color); width: 100%;}
    // header
    .s--bottom-sheet-header { min-height: 15px; position: absolute; top: 15px; left: 50%; transform: translate(-50%,-50%); width:100%; height: 30px;
        .draggable { content:''; display:inline-block; width:50px; height:4px; background:var(--slide-icon-color); border-radius: 10px; position: absolute; transform: translate(-50%,-50%); left: 50%; top: 50%;
            span { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }
        }
    }
    // content
    .s--bottom-sheet-content { background: lightblue; width: 100%; height: 100%; overflow: scroll; touch-action: auto !important; margin-top: 20px; }
    }
}



.test-content {
    height: 500px;
}

@-webkit-keyframes slide-in {
    0%  { -webkit-transform: translateY(100%); transform: translateY(100%); opacity: .3; }
    100%  { -webkit-transform: translateY(0%); transform: translateY(0%);opacity: 1; }
}
@keyframes slide-in {
    0%  {-webkit-transform: translateY(100%); transform: translateY(100%); opacity: .3; }
    100% {  -webkit-transform: translateY(0%); transform: translateY(0%);opacity: 1; }
}

@-webkit-keyframes slide-out {
    0%  { background-color: transparent; }
    100%  { background-color: var(--sheet-color); }
}
@keyframes slide-out {
    0%  { background-color: transparent; }
    100%  { background-color: var(--sheet-color); }
}